<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset password</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body style="width: 100%;">
  <div style="width: 50%; margin: 0 auto; padding: 5em" id="main">
    {{#if error}}
    <div style="width: 100%; text-align: center; color: red">{{error}}</div>
    {{else}}
    <form id='form'>
      <div class="form-group">
        <input type="text" class="form-control" id="token" hidden name="token" value={{token}} />
      </div>
      <div class="form-group">
        <label for="newPassword">New password</label>
        <input type="password" class="form-control" required id="newPassword" name="newPassword"
          placeholder="New password" />
      </div>

      <button type="submit" class="btn btn-primary" style="margin: 1em auto">Submit</button>
    </form>
    {{/if}}
  </div>
  <div id="message" style="width: 100%; text-align: center; color: green"></div>
</body>

<script type="text/javascript">
  document.getElementById('form').addEventListener('submit', function (e) {
    e.preventDefault()
    fetch('/auth/reset-password/methods/email-verification', {
      method: 'PATCH',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        token: document.getElementById('token').value,
        newPassword: document.getElementById('newPassword').value
      })
    }).then(async data => {
      const res = await data.json();
      console.log(res.status)
      if (res.status == 200) {
        document.getElementById('main').style.display = "none"
      }
      document.getElementById('message').innerHTML = res.message
    })
  });

</script>

</html>